services:
  # PHP-FPM
  php:
    build:
      context: ./docker/php
      args:
        PUID: ${PUID:-1000}
        PGID: ${PGID:-1000}
        PHP_VERSION: ${PHP_VERSION:-8.4}
    image: dev-container-php:${PHP_VERSION:-8.4}-fpm
    container_name: ${CONTAINER_NAME:-dev_container}_php
    volumes:
      - ./src:/var/www/html:Z

    ports:
      - ${PHP_PORT:-9000}:9000
    networks:
      - net

  # Node
  node:
    build:
      context: ./docker/node
      args:
        PUID: ${PUID:-1000}
        PGID: ${PGID:-1000}
        NODE_VERSION: ${NODE_VERSION:-22}
    image: dev-container-node:${NODE_VERSION:-22}
    container_name: ${CONTAINER_NAME:-dev_container}_node
    volumes:
      - ./src:/var/www/html:Z
    ports:
      - ${NODE_PORT:-3000}:3000
      - ${VITE_PORT:-5173}:5173
    networks:
      - net

  # Apache
  apache:
    build:
      context: ./docker/apache
      args:
        PUID: ${PUID:-1000}
        PGID: ${PGID:-1000}
    image: dev-container-apache:2.4
    container_name: ${CONTAINER_NAME:-dev_container}_apache
    ports:
      - ${APACHE_PORT:-8000}:80
    volumes:
      - ./src:/var/www/html:Z
      - ./docker/apache/vhosts:/usr/local/apache2/conf/vhosts:ro
    depends_on:
      - php
    networks:
      - net

  # MariaDB
  mariadb:
    image: mariadb:11
    container_name: ${CONTAINER_NAME:-dev_container}_mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-password}
    ports:
      - ${MYSQL_PORT:-3306}:3306
    volumes:
      - mysql_data:/var/lib/mysql:Z
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  mysql_data:
