# Nome do projeto
PROJECT_NAME=dev_container

# PHP
PUID=1000
PGID=1000
PHP_PORT=9000
PHP_VERSION=8.4

# Apache
APACHE_PORT=8080

# MariaDB
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=database_name
MYSQL_USER=database_user
MYSQL_PASSWORD=database_user_password
MYSQL_PORT=3306
